.envrc
.idea/
backend/
frontend/
django_mongodb_cli.egg-info/
__pycache__
manage.py
mongo_app/
mongo_project/
node_modules/
server.log
server.pid
.babelrc
.browserslistrc
.eslintrc
.nvmrc
.stylelintrc.json
frontend/
package-lock.json
package.json
postcss.config.js
apps/
!test/apps/
src/
!project_templates/project_template/mongo_migrations
home/
.dockerignore
Dockerfile
search/
uv.lock
docs/_build/
config/wagtail/wagtail_settings.py
customer-master-key.txt
mongocryptd.pid
